* {box-sizing:border-box;}

body#home {
	background-image: url("Images/yogaslide.jpg");
	background-repeat: no-repeat;
	background-position: fixed; 
	background-size: cover;
}

h1 {
	text-align:center;
	font-family: 'Lobster Two', cursive;
	font-size: 3em;
	color:#FFFFFF;
	margin:400px 1em 0 0;
	display:inline-block;
	float:right;
	padding:.5em 1em;
}

nav.desktop {
	float:left;
	display: block;
	width: 100%;
	background:none;
	font-family: 'Quicksand', sans-serif;
	
	
}
a.maindesktop {
	text-decoration:none;
	display: block;
	float:right;
	padding: 30px;
	font-family: 'Quicksand', sans-serif;
	font-size:1.25em;
	font-weight:100;
	color:#FFFFFF;
	background:none;
}

.logo {
	display:block;
	float:left;
	height: 5em;
	width: 5em;
	clear:both;
}

.maindesktop a:hover {
	color:#eb005e;
}

@media only screen and (max-width: 768px)

body#home{
	background-image: url("Images/yogaslide_tablet.jpg");
	background-repeat: no-repeat;
	background-position: fixed; 
	background-size: cover;
	
}

.menu-btn div {
	position: absolute;
	left: 10%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}
 
 .mobile-nav {
 	background:white;
 	
 }
 
.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(0,0,0);
	z-index: 99;
	color:#eb005e;
}
 
.responsive-menu{
	display: none;

}

a.mobilemenu {
	text-decoration:none;
	font-family: 'Quicksand', sans-serif;
	font-size:1.25em;
	font-weight:100;
	color:#eb005e;
	background:none;
	
}
 
.expand {
	display: block !important; 
}

nav.deskopt{
	display:hidden;
}

@media only screen and (max-width: 320px)

body#home{
	background-image: url("Images/yogaslide_mobile.jpg");
	background-repeat: no-repeat;
	background-position: fixed; 
	background-size: cover;
}
