* {box-sizing:border-box;}

body#home {
	background-image: url("Images/yogaslide.jpg");
	background-repeat: no-repeat;
	background-position: fixed; 
	background-size: cover;
}

nav.desktop {
	float:left;
	display: block;
	width: 100%;
	background:none;
	font-family: 'Quicksand', sans-serif;
	padding:0px;
	}
	
a.maindesktop {
	text-decoration:none;
	display: block;
	float:right;
	padding: 30px;
	font-family: 'Quicksand', sans-serif;
	font-size:1.25em;
	font-weight:100;
	color:#FFFFFF;
	background:none;
}

a.regular {
	text-decoration:none;
	display: block;
	float:right;
	padding: 30px;
	font-family: 'Quicksand', sans-serif;
	font-size:1.25em;
	font-weight:100;
	color:#eb005e;
	background:none;
}

a.regular:hover {
	color:#470047;
}
img.logo {
	display:block;
	float:left;
	height: 5em;
	width: 5em;
	clear:both;
}

a.maindesktop:hover {
	color:#eb005e;
}

div#aboutme{
	font-family: 'Quicksand', sans-serif;
	font-size:1em;
	font-weight:100;
	display:inline;
	width:60%;
	float:center;
}
img#headshot{
	width:20em;
	height:20em;
	display:inline;
}

p {
	display:inline;
}
h1{
	font-size:2em;
}

div.classes{
	width:30%;
}


 div.mobile-nav {
 	visibility:hidden;
 }

@media only screen and (max-width: 768px) {

body#home {
	background-image: url("Images/yogaslide_tablet.jpg");
	background-repeat: no-repeat;
	background-position: fixed; 
	background-size: cover;
	
}

.menu-btn div {
	position: absolute;
	left: 00%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}
 
 div.mobile-nav {
 	background:none;
 	float:right;
 	visibility:visible;
 	
 }
 
.menu-btn span {
	display: block;
	width: 30px;
	height: 5px;
	margin: 4px 0;
	background:#eb005e;
	z-index: 99;
	color:#eb005e;
}
 
.responsive-menu{
	display: none;

}

a.mobilemenu {
	text-decoration:none;
	font-family: 'Quicksand', sans-serif;
	font-size:1.25em;
	font-weight:100;
	color:#eb005e;
	background:none;
}

li {
	text-decoration:none;
	font-family: 'Quicksand', sans-serif;
	font-size:1.25em;
	font-weight:100;
	color:#eb005e;
	background:none;
}
 
.expand {
	display: block !important; 
}

nav.desktop{
	visibility:hidden;
}
}

@media only screen and (max-width: 320px) {

body#home{
	background-image: url("Images/yogaslide_mobile.jpg");
	background-repeat: no-repeat;
	background-position: fixed; 
	background-size: cover;
}
}
