* {box-sizing:border-box;}

body#home {
	background-image: url("Images/yogaslide.jpg");
	background-repeat: no-repeat;
	background-position: fixed; 
	background-size: cover;
}

h1 {
	text-align:center;
	font-family: 'Lobster Two', cursive;
	font-size: 3em;
	color:#FFFFFF;
	background-color:#eb005e;
	margin:400px 1em 0 0;
	display:inline-block;
	float:right;
	padding:.5em 1em;
}

nav {
	float:left;
	display: block;
	width: 100%;
	background:none;
	font-family: 'Quicksand', sans-serif;
	
	
}
.navigation {
	text-decoration:none;
	display: block;
	float:right;
	padding: 30px;
	font-family: 'Quicksand', sans-serif;
	font-size:1.25em;
	font-weight:100;
	color:#FFFFFF;
	background:none;
	
	
}

.logo {
	display:block;
	float:left;
	height: 5em;
	width: 5em;
	clear:both;
}

a:hover {
	color:#eb005e;
}
